<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:float="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>User System</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script>
        function myFunc() {

            var name = document.forms["AddForm"]["name"];
            var surname = document.forms["AddForm"]["surname"];
            var phone = document.forms["AddForm"]["phoneNumber"];
            var username =  document.forms["AddForm"]["username"];

            if (name.length <2)
            {
                window.alert("Name must not be less than two characters");
                name.focus();
                return false;
            }

            if (surname.length <2)
            {
                window.alert("Surname must not be less than two characters");
                name.focus();
                return false;
            }

            if (phone.length <2)
            {
                window.alert("Phone must not be less than two characters");
                email.focus();
                return false;
            }

            if (username.length <2)
            {
                window.alert("Username must not be less than two characters");
                email.focus();
                return false;
            }
            return true;

        }
    </script>

</head>
<body background="user.jpg">
<div class="container">
    <h1 style="margin-bottom: 35px;">Kullanıcı Listesi</h1>
    <div class="row col-md-9 table-responsive">
        <table id="user-table" class="table"  >
            <thead>
            <tr>
                <th style="border:2px red solid;" ><font size="5">Kullanıcı Adı</font></th>
                <th style="border:2px red solid;"><font size="5">Adı</font></th>
                <th style="border:2px red solid;"><font size="5">Soyadı</font></th>
                <th style="border:2px red solid;"><font size="5">Telefon Numarası</font></th>
            </tr>
            </thead>
            <tbody >
            <tr th:each="user, rowStat: ${userList}" th:style="${rowStat.odd} ? 'color: darkslategray' : 'color: black;'">
                <td style="font-size: 33px;border:2px red solid;" th:text="${user.userName}"/>
                <td style="font-size: 33px;border:2px red solid;" th:text="${user.name}"/>
                <td style="font-size: 33px;border:2px red solid;" th:text="${user.surname}"/>
                <td style="font-size: 33px;border:2px red solid;" th:text="${user.phoneNumber}"/>
                <td>
                    <div class="container" >
                        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#Enes1" th:attrappend="data-target=@{${user.userId} + 'edit'}" >Edit</button>
                        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#Enes" th:attrappend="data-target=${user.userId}" >Delete</button>
                        <!-- Modal -->
                        <div class="modal fade" id="Enes" role="dialog" th:attrappend="id=${user.userId}">
                            <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <!-- <h4 class="modal-title">User Delete</h4> -->
                                    </div>
                                    <div class="modal-body">
                                        <p>Are you sure to want to delete user?</p><p th:text="${user.name}" ></p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                                        <a  th:href="@{'/delete/' + ${user.userId}}">Delete</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="modal fade" id="Enes1" role="dialog" th:attrappend="id=@{${user.userId} + 'edit'}">
                            <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <!-- <h4 class="modal-title">User Delete</h4> -->
                                    </div>
                                    <div class="modal-body">
                                        <p th:text="'Are you sure want to edit ' + ${user.name} + ' ?'"></p>
                                        <form role="form" action="#" th:action="@{/save}" th:object="${user}" method="post">
                                            <div class="form-group">
                                                <label for="inputUserNameEdit">UserId</label>
                                                <input type="text" class="form-control" id="inputUserIdEdit" th:field="*{userId}" minlength="2" required/>
                                            </div>
                                            <div class="form-group">
                                                <label for="inputUserNameEdit">Username</label>
                                                <input type="text" class="form-control" id="inputUserNameEdit" th:field="*{userName}" minlength="2" required />
                                            </div>
                                            <div class="form-group">
                                                <label for="inputName">Name</label>
                                                <input type="text" class="form-control" id="inputName" th:field="*{name}" minlength="2" required/>
                                            </div>
                                            <div class="form-group">
                                                <label for="inputEmail">Surname</label>
                                                <input type="text" class="form-control" id="inputEmail" th:field="*{surname}" minlength="2" required/>
                                            </div>
                                            <div class="form-group">
                                                <label for="inputMessage">PhoneNumber</label>
                                                <input type="number" class="form-control" id="inputMessage" th:field="*{phoneNumber}" minlength="2"required/>
                                            </div>
                                            <div class="form-group">
                                                <div class="g-recaptcha" data-sitekey="6LdyJq4UAAAAAEGnoVdkK5KJgq5mu2mo9e7c2rbh"></div>

                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                                                <button type="submit">Save</button>
                                            </div>

                                        </form>


                                    </div>

                                </div>

                            </div>
                        </div>

                    </div>
                </td>
            </tr>
            </tbody>
        </table>


        <button type="button"  style="margin-bottom: 65px;"  class="btn btn-info btn-lg" data-toggle="modal" data-target="#new" >Add New User</button>
        <div class="modal fade" id="new" role="dialog" >
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <!-- <h4 class="modal-title">User Delete</h4> -->
                    </div>
                    <div class="modal-body">
                        <p>Add New User</p>
                        <form role="form"  name="AddForm" action="#" th:action="@{/save}" th:object="${user}"  method="post" >

                            <div class="form-group">
                                <label for="inputUsername">Username</label>
                                <input type="text" class="form-control" name="username" id="inputUsername" th:field="*{userName}" placeholder="Enter a username" minlength="2" required/>
                            </div>
                            <div class="form-group">
                                <label for="inputName1">Name</label>
                                <input type="text" class="form-control" name="name" id="inputName1" th:field="*{name}" placeholder="Enter a name" minlength="2" required/>

                            </div>
                            <div class="form-group">
                                <label for="inputEmail1">Surname</label>
                                <input type="text" class="form-control" name="surname" id="inputEmail1" th:field="*{surname}" placeholder="Enter a surname" minlength="2" required/>
                            </div>
                            <div class="form-group">
                                <label for="inputMessage1">PhoneNumber</label>
                                <input type="number" class="form-control" id="inputMessage1" name="phoneNumber"th:field="*{phoneNumber}" placeholder="Enter a phone number" minlength="8" required/>
                            </div>
                            <div class="form-group">
                                <div class="g-recaptcha" data-sitekey="6LdyJq4UAAAAAEGnoVdkK5KJgq5mu2mo9e7c2rbh"></div>
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                            <button type="submit" >Add</button>
                            </div>
                        </form>

                    </div>


                </div>

            </div>
        </div>



    </div>


</div>
</body>
</html>